@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #000000;
    background-color: #EBEBEB;
}

/* Headings and logo */

h1, h2{
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
}
#logo{
    float: left;
    font-size: 250%;
    margin-left: 25px;
}
#menu{
    font-size: 120%;
    letter-spacing: 3px;
}
#menu, #logo{
    line-height: 70px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin: 35px 25px;
    margin-top: 0;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid grey;
}
.active{
    border-bottom: 1px solid grey;
}

/* hero image */

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text, #cover-text h2{
    color: white;
}
#hero-image{
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpeg") no-repeat center center;
    background-size: cover;

/* animation zoom affect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom{
    from{
         transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
#cover-text{
font-size: 120%;
font-family: oswald, sans-serif;
text-transform: uppercase;
letter-spacing: 5px;
width: 400px;
height: 50px;
padding-top: 10px;
padding-left: 10px;
background-color: grey;
bottom: 200px;
right: 10%;
position: absolute;
}

/* about us */

#about{
    height: 1000px;
    margin-top: 30px;
}
#why{
    height: 600px;
}
#left1{
    padding-top: 40px;
    width: 45%;
    height: 300px;
    margin-left: 50px;
    font-size: 130%;
    line-height: 20px;
    float: left;
}
#right1{
    width: 30%;
    height: 300px;
    float: right;
    margin-top: 40px;
    margin-right: 150px;
    background: url(../images/pic1.jpeg) no-repeat center center;
    background-size: cover;
    border: 3px solid white;
   
}
#left2{
    padding-top: 70px;
    width: 45%;
    height: 300px;
    float: left;
    margin-left: 50px;
    font-size: 130%;
    line-height: 20px;
    overflow: hidden;
    margin-top: 30px;

}
#right2{
    width: 30%;
    height: 300px;
    float: right;
  background: url(../images/pic6.jpeg) no-repeat center center;
    background-size: cover;
   margin-top: 50px;
   margin-right: 150px;
   border: 3px solid white;

}
#features{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    float: left;
}
.hf{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 30%;
    float: center;

}
.fl{
    float: left;
    padding-left: 5%;
    padding-top: 30px;
    font-size: 130%;
    font-weight: bold;

}
.fr{
    float: right;
    padding-right: 30%;
    padding-top: 30px;
    font-size: 130%;
    font-weight: bold;
}

/* times and contact */

#meet-us{
    width: 100%;
    background:url(../images/times.jpeg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    color: white;
    margin-top: 20px;
}
.opening{
    color: white;
}
.time{
    font-size: 150%;
    font-weight: bold;
}
#meet-us div{
    background-color: rgba(0, 0, 0, .7);
    float: left;
    width: 33%;
    text-align: center;
    height: 300px;
    padding-top: 15%;
    border: 2px solid white;
}
#c{
    color: white;
}

/* sign up form */

#sign-up{
    height: 600px;
    width: 100%;
    background-color: aquamarine;
    padding-top: 200px;
    padding-left: 80px;
    color: black;
    background: url(../images/pexels-photo-4162591.jpeg) no-repeat center center;
    background-size: cover;
    font-size: 140%;
}
.join{
    display: inline-block;
    height: 30px;
    width: 60px;
    margin: 0 0 0 120px ;
}

/* footer */

footer{
    height: 100px;
    width: 100%;
}
.social-networks{
    text-align: center;
}
.social-networks > li{
    display: inline;
}
.social-networks i{
    font-size: 150%;
    margin: 2%;
    padding: 4%;
    color: #3a3a3a;
}
.last-h{
    padding-top: 30px;
    padding-left: 5%;
    color: chocolate;
}
/* Media Queries */

/* for larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px){
    #about{
    height: 1950px;
    width: 65%;
    margin: 0 auto; 
}
    #left1, #right1, #left2, #right2, #features{
        width: 100%;
        float: left;
        padding: 0;
        margin-top: 30px;
        margin-left: 50px;
    } 
    #left1{
        height: 250px;
    }
    #left2{
        height: 200px;
    }
    .l1{
        padding-bottom: 10px;
    }
    .l2{
        padding-bottom: 10px;
    }
    .fr{
        float: left;
        width: 100%;
        padding-left: 38px;
    }
    #meet-us > div{
        width: 100%;
        height: 200px;
        clear: both;
        padding: 100px 0 0 0;

    }
    br{
        display: none;
    }
}

/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu{
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 10px;
        line-height: 25px; 
    }
    #cover-text{
        left: 0;
    }
    #about{
        width: 90%;
        height: 1850px;
        margin: 0 auto;
    }
    #left1, #right1, #left2, #right2{
        float: left;
        margin-left: inherit;
    }
    #left1{
        height: 250px;
    }
    #left2{
        height: 180px;
    }
    .l1{
        padding-bottom: 10px;
    }
    .l2{
        padding-bottom: 10px;
    }
    #features{
       width: inherit; 
    }
    .fr{
        padding-left: 20px;
        padding-top: 0;
    }
    .hf{
        margin-left: inherit;
    }
}
