@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #000000;
    background-color: #9C9C9C;
}

/* Headings and logo */

h1, h2{
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
}
#logo{
    float: left;
    font-size: 250%;
    margin-left: 25px;
}
#menu{
    font-size: 120%;
    letter-spacing: 3px;
}
#menu, #logo{
    line-height: 70px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin: 35px 25px;
    margin-top: 0;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid grey;
}
.active{
    border-bottom: 1px solid grey;
}

/* hero image */

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text, #cover-text h2{
    color: white;
}
#hero-image{
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpeg") no-repeat center center;
    background-size: cover;

/* animation zoom affect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom{
    from{
         transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
#cover-text{
font-size: 120%;
font-family: oswald, sans-serif;
text-transform: uppercase;
letter-spacing: 5px;
width: 400px;
height: 50px;
padding-top: 10px;
padding-left: 10px;
background-color: #474747;
bottom: 200px;
right: 10%;
position: absolute;
}

/* about us */

#about{
    height: 1050px;
    margin-top: 30px;
}
#why{
    height: 900px;
}
#left1{
    padding-top: 40px;
    width: 45%;
    height: 300px;
    margin-left: 50px;
    font-size: 130%;
    line-height: 20px;
    float: left;
}
#left1 p{
    height: 250px;
    width: 70%;
}
#right1{
    width: 30%;
    height: 300px;
    float: right;
    margin-top: 40px;
    margin-right: 150px;
    background: url(../images/pic1.jpeg) no-repeat center center;
    background-size: cover;
    border: 3px solid white;
}
#left2{
    padding-top: 70px;
    width: 45%;
    height: 300px;
    float: left;
    margin-left: 50px;
    font-size: 130%;
    line-height: 20px;
    overflow: hidden;
    margin-top: 30px;
}
#left2 p{
    height: 250px;
    width: 70%;
}
#right2{
    width: 30%;
    height: 300px;
    float: right;
  background: url(../images/training.jpeg) no-repeat center center;
    background-size: cover;
   margin-top: 50px;
   margin-right: 150px;
   border: 3px solid white;
}
#features{
    padding-top: 20px;
    width: 45%;
    height: 400px;
    float: left;
    margin-left: 50px;
    font-size: 130%;
    line-height: 20px;
    overflow: hidden;
    margin-top: 30px;
    clear: left;
}  
.fl{
    padding-top: 15px;
    width: 60%;
    padding-left: 20px;
} 

#right3{
    width: 30%;
    height: 300px;
    float: right;
   background: url(../images/pic6.jpeg) no-repeat center center;
    background-size: cover;
   margin-top: 50px;
   margin-right: 150px;
   border: 3px solid white;
}

/* times and contact */

#meet-us{
    width: 100%;
    background:url(../images/times.jpeg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    color: white;
    margin-top: 20px;
}
.opening{
    color: white;
}
.time{
    font-size: 150%;
    font-weight: bold;
}
#meet-us div{
    background-color: rgba(0, 0, 0, .7);
    float: left;
    width: 33%;
    text-align: center;
    height: 300px;
    padding-top: 15%;
    border: 2px solid white;
}
#c{
    color: white;
}

/* sign up form */

#sign-up{
    height: 550px;
    width: 96.5%;
    padding-top: 20px;
    padding-left: 50px;
    color: black;
    background: url(../images/pexels-photo-4162591.jpeg) no-repeat center center;
    background-size: cover;
    font-size: 140%;
}
input:hover{
    background-color: #999999;
}
#sign{
    width: 20%;
}
#fname{
    width: 70%;
    height: 30px;
}
#lname{
    width: 70%;
    height: 30px;
}
#email{
    width: 70%;
    height: 30px;
}
.join{
    display: inline-block;
    height: 30px;
    width: 60px;
}

/* footer */

footer{
    height: 150px;
}
.social-networks{
    text-align: center;
    padding-top: 10px;
}
.social-networks > li{
    display: inline;
    padding-top: 10px;
}
.social-networks i{
    font-size: 150%;
    margin: 2%;
    padding: 4%;
    color: #3a3a3a;
}
.last-h{
    padding-top: 30px;
    padding-left: 30%;
    color: #0D0D0D;
}
.fa-copyright{
    vertical-align:super;
    font-size: 20px;
}
/* Media Queries */

/* for larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px){
    #about{
    height: 1600px;
    width: 65%;
    margin: 0 auto; 
}
    #left1, #right1, #left2, #right2, #features, #right3{
        width: 100%;
        float: left;
        padding: 0;
        margin-top: 30px;
        margin-left: 30px;
    } 
    #left1{
        height: 250px;
    }
    #left2{
        height: 200px;
    }
    #features{
        height: 300px;
    }
    #right3{
        height: 300px;
        margin-bottom: 30px;
    }
    .l1{
        padding-bottom: 10px;
    }
    .l2{
        padding-bottom: 10px;
    }
    .fl{
        padding-top: 10px;
        padding-left: 40px;
        width: 53%;
    }
    .hf{
        margin-left: inherit;
        padding-left: inherit;
    }
    #meet-us > div{
        width: 100%;
        height: 200px;
        clear: both;
        padding: 100px 0 0 0;
    }
    br{
        display: none;
    }
    #sign-up{
        width: 95%;
    }
    #sign{
        width: 17%;
        float: left;
        padding-top: 50px;
    }
    #fname{
        width: 100%;
        height: 20px;
    }
    #lname{
        width: 100%;
        height: 20px;
    }
    #email{
        width: 100%;
        height: 20px;
    }
    .last-h{
        padding-left: 28%;
    }
}

/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu{
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 10px;
        line-height: 20px; 
    }
    #cover-text{
        left: 0;
    }
    #about{
        width: 90%;
        height: 1600px;
        margin: 0 auto;
    }
    #left1, #right1, #left2, #right2, #features, #right3{
        float: left;
        margin-left: inherit;
    }
    #left1{
        height: 250px;
    }
    #left2{
        height: 180px;
    }
    #features{
        height: 300px;   
    }
    .l1{
        padding-bottom: 10px;
    }
    .l2{
        padding-bottom: 10px;
    }
    .fl{
        width: 50%;
    }
    .hf{
        margin-left: inherit;
    }
    br{
        display: none;
    }
    .last-h{
        padding-left: 23%;
        font-size: 130%;
    }
    #sign-up{
        width: 94.2%;
    }
    #sign{
        width: 18%;
        float: left;  
    }
}

/* for medium screen sizes from 725px wide and down */
@media screen and (max-width: 725px) {
    #menu{
        clear: left;
        float: left;
        margin: 0 auto;
        line-height: 10px; 
        font-size: 80%;
       
    }
    #logo{
        font-size: 150%;
    }
    #cover-text{
        left: 0;
        width: 40%;
    }
    #cover-text h2{
        font-size: 70%;
    }
    #about{
        width: 95%;
        height: 2100px;
        margin: 0 auto;
    }
    #left1, #right1, #left2, #right2, #features, #right3{
        float: left;
        
    }
    #left1{
        height: 350px;
        padding-top: 15px;
    }
    p{
        font-size: 90%;
    }
    #left2{
        height: 200px;
        padding-top: 20px;
    }
    #features{
        height: 350px;
        padding-top: 10px;
        
    }
    .l1{
        padding-bottom: 10px;
        font-size: 95%;
        font-weight: bold;
    }
    .l2{
        padding-bottom: 10px;
        font-size: 95%;
        font-weight: bold;
    }
    .fl{
        width: 100%;
        padding-left: 1px;
     
    }
    .hf{
        margin-left: inherit;
        font-size: 95%;
        font-weight: bold;
    }
    br{
        display: none;
    }
    .last-h{
        padding-left: 15%;
        font-size: 110%;
    }
    #sign-up{
        width: 87.2%;
    }
    #sign{
        width: 45%;
        float: left;
    }
}